
.header__game-background {
    height: 7em;
    background-color: #292828;
    align-items: flex-end;
}
.header__game-title {
    color: rgba(255, 255, 255, 0.69);
    margin-top: 70px;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
}

.game {
    /* display: flex;
    flex-direction: column; */
    padding: 24px;
}
.game_background {
    background: #f3f3f3;
}
.game__story-text {
    font-family: 'PT Serif', serif;
    font-size: 18px;
    margin: 20px;
    text-indent: 14px;
}
.game__button {
    display: block;
    background-color: #383132;
    color: #fff;
    padding: 10px;
    font-family: 'PT Serif', serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    border: none;
    margin: 20px;
    width: 70%;
}
.game__button_display-none {
    display: none;
}

