.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header__background {
    height: 24em;
    background: url("../images/banner.jpg") center center;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}

.header__content {
    width: 100%;
    text-align: center;
    position: relative;
}

.header__title {
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    font-size: 2em;
    letter-spacing: 0.25em;
    margin-top: 0;
}

.header__subtitle {
    color: rgba(255, 255, 255, 0.69);
    text-transform: uppercase;
    margin: 1.25em 0 0 0;
    display: block;
    letter-spacing: 0.2em;
    font-size: 0.9em;
}

.header__author {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    margin: 2.5em 0 1.5em 0;
    display: block;
    letter-spacing: 0.2em;
    font-size: 1.1em;
}

@media screen and (max-width: 1200px) {
    .header__background {
        height: 22em;
    }

    .header__title {
        font-size: 1.6em;
    }

    .header__subtitle,
    .header__author {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 900px) {
    .header__background {
        height: 21em;
    }
}

@media screen and (max-width: 750px) {
    .header__background {
        height: 18em;
    }

    .header__title {
        font-size: 1.3em;
    }

    .header__subtitle,
    .header__author {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 480px) {
    .header__background {
        height: 18em;
    }

    .header__title {
        font-size: 1.15em;
    }

    .header__subtitle,
    .header__author {
        font-size: 0.65em;
    }
}

@media screen and (max-width: 320px) {
    .header__background {
        height: 15em;
    }

    .header__title {
        font-size: 1em;
    }

    .header__subtitle,
    .header__author {
        font-size: 0.5em;
        margin: 1em 0;
    }
}