.header__shop-background {
    height: 12em;
    background: url("../images/banner.jpg") center center;
    background-size: cover;
    background-position: center;
}

.header__shop-title {
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.8em;
    letter-spacing: 0.25em;
    margin: 1.5em 0 1em 0;
}

.header__shop-author {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    margin: 1em 0;
    display: block;
    letter-spacing: 0.2em;
    font-size: 1em;
}

.content-shop {
    position: relative;
}

.content-shop_sizes {
    padding: 20px 30px;
    min-height: 410px;
}

.content-shop__product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.content-shop__product {
    padding: 10px;
}

.content-shop__product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #eeeeee;
    text-align: center;
}

.content-shop__product_prod-title {
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
}

.content-shop__product_prod-title:hover {
    color: #555;
    border-bottom: 1px solid #555555b4;
}

.content-shop__product p {
    font-size: 14px;
    color: #555;
}

.content-shop__product strong {
    color: #000;
}

.content-shop__filters,
.content-shop__search {
    padding: 0 10px;
    height: fit-content;
}

.content-shop__button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #404040;
    margin: 0 10px 0 0;
}

.content-shop__button:hover {
    background-color: #d6d6d6;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.content-shop__button:active {
    background-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.content-shop__button:last-child {
    margin: 0;
}

.content-shop__search input {
    color: #292828;
    background-color: #ffffff;
    padding: 3px 10px;
    border-radius: 5px;
    margin-right: 20px;
    height: 20px;
}

.content-shop__filters-and-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr {
    margin: 20px 0;
    padding: 0;
    height: 10px;
    border: none;
    border-top: 1px solid #333;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.content-shop__inform p {
    font-size: 13px;
    margin: 10px 0;
    color: #555;
    display: flex;
    flex-direction: row-reverse;
}



/* 1200px */
@media (max-width: 1200px) {
    .header__shop-background {
        height: 10em;
    }

    .header__shop-title {
        font-size: 1.6em;
        margin: 1.6em 0 0;
    }

    .content-shop__product-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .content-shop__product_prod-title {
        font-size: 16px;
    }

    .content-shop__product p {
        font-size: 13px;
    }
}

/* 900px */
@media (max-width: 950px) {
    .header__shop-title {
        font-size: 1.5em;
    }

    .header__shop-author {
        font-size: 0.9em;
    }

    .content-shop__product-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-shop_sizes {
        padding: 15px 20px;
    }
}

/* 750px */
@media (max-width: 750px) {
    .header__shop-background {
        height: 8em;
    }

    .header__shop-title {
        font-size: 1em;
        letter-spacing: 0.2em;
        margin: 2.7em 0 0;
    }

    .header__shop-author {
        font-size: 0.8em;
    }

    .content-shop__button {
        padding: 5px 10px;
        font-size: 10px;
        margin: 0 8px 0 0;
    }

    .content-shop__search input {
        padding: 1.5px 5px;
        margin-right: 10px;
        width: 100px;
    }

    .content-shop__product-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

/* 480px */
@media (max-width: 480px) {
    .header__shop-background {
        height: 7em;
    }

    .header__shop-title {
        font-size: 0.9em;
        margin: 3.6em 0 0;
    }

    .header__shop-author {
        font-size: 0.7em;
    }

    .content-shop__button {
        padding: 5px 8px;
        margin: 0 5px 5px 0;
    }

    .content-shop__button:last-child {
        margin: 0 0 5px 0;
    }

    .content-shop__search input {
        margin: 0 0 5px;
        width: 80%;
    }

    .content-shop__search {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

    }

    hr {
        margin: 15px 0;
    }

    .content-shop__inform p {
        font-size: 11px;
        margin: 8px 0;
    }

    .content-shop__product_prod-title {
        font-size: 14px;
    }

    .content-shop__product p {
        font-size: 12px;
    }

}

/* 320px */
@media (max-width: 320px) {
    .header__shop-background {
        height: 7em;
    }

    .header__shop-title {
        font-size: 0.8em;
    }

    .header__shop-author {
        font-size: 0.5em;
    }

    .content-shop_sizes {
        padding: 10px 15px;
    }

    .content-shop__filters,
    .content-shop__search {
        padding: 0;
    }

    .content-shop__button {
        margin: 0 3px 5px 0;
    }

    .content-shop__search input {
        font-size: 10px;
    }

    .content-shop__inform p {
        font-size: 9px;
    }

    .content-shop__product_prod-title {
        font-size: 13px;
    }

    .content-shop__product p {
        font-size: 11px;
    }
}