.content-shop {
    position: relative;
}

.content-shop_sizes {
    min-height: 590px;
}

.container-filter {
    background-color: #F4F4F4;
    margin: 0 15px;
    padding: 28px;
    border-radius: 8px;
}

.container-filter__link-chain {
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
}

.container-filter__link-chain a {
    text-decoration: none;
    color: #666;
}

.container-filter__title {
    font-family: "Squada One", serif;
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.container-filter__filter p {
    font-size: 16px;
    margin-bottom: 10px;
}

.container-filter__filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.container-filter__button {
    padding: 6px;
    padding-right: 14px;
    border: 2px solid #ddd;
    background-color: #ffffff;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
}

.container-filter__button-clean {
    padding: 8px 10px;
    background-color: #000;
    border: none;
    color: #fff;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto;
}

.container-filter__button-clean i {
    margin-left: 15px;
    font-size: 14px;
    color: #fff;
}

.content-shop__hr {
    margin: 20px 0;
    padding: 0;
    border: none;
    border-top: 2px solid #dadada;
}

.content-shop__hr_margin {
    margin: 0 43px;
}

.content-shop__search {
    display: flex;
    justify-content: space-between;
    padding: 20px 43px;
}

.content-shop__search button {
    padding: 8px 10px;
    border: 2px solid #ddd;
    background-color: #F4F4F4;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

.content-shop__search_margin {
    margin-right: 8px;
}

.button-action:hover {
    background-color: #d6d6d6;
}

.button-action:active {
    background-color: #adadad;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
}

.content-shop__search i {
    margin-left: 15px;
    font-size: 14px;
    color: #000;
}

.content-shop__search input {
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 10px;
}

.content-shop__product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px 43px;
}

.content-shop__product {
    display: flex;
    flex-direction: column;
}

.content-shop__product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: #F4F4F4;
    text-align: center;
    margin-bottom: 10px;
}

.content-shop__product_prod-title {
    font-family: "Squada One", serif;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
}

.content-shop__product_prod-title:hover {
    color: #555;
    border-bottom: 1px solid #555555b4;
}

.content-shop__product p {
    font-size: 14px;
    margin: 10px 0;
}

.content-shop__product strong {
    color: #000;
}

.content-shop__inform {
    padding: 0 43px;
}

.content-shop__inform p {
    font-size: 13px;
    margin: 10px 0;
    color: #555;
    display: flex;
    flex-direction: row-reverse;
}


@media (max-width: 950px) {
    .container-filter {
        padding: 20px;
    }

    .container-filter__title {
        font-size: 44px;
    }

    .content-shop__hr_margin {
        margin: 0 35px;
    }

    .content-shop__product-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-shop__search {
        padding: 15px 35px;
    }

    .content-shop__product_prod-title {
        font-size: 22px;
    }
}

@media (max-width: 850px) {
    .container-filter__title {
        font-size: 40px;
    }

    .content-shop__search {
        flex-direction: column;
        gap: 10px;
    }

    .content-shop__search div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

}

@media (max-width: 750px) {
    .content-shop__product-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 20px 35px;
    }
}

@media (max-width: 580px) {
    .container-filter__link-chain {
        font-size: 12px;
    }

    .container-filter__filter p {
        font-size: 14px;
    }

    .content-shop__search input {
        padding: 5px;
        font-size: 12px;
    }

    .content-shop__search button {
        padding: 5px;
        font-size: 12px;
    }

    .content-shop__search i {
        margin-left: 10px;
        font-size: 12px;
    }

    .container-filter__button {
        padding: 6px;
        padding-right: 8px;
        font-size: 12px;
    }

    .container-filter__button-clean {
        padding: 8px;
        font-size: 12px;
    }

    .container-filter__button-clean i {
        font-size: 12px;
    }

    .content-shop__product_prod-title {
        font-size: 20px;
    }

    .container-filter__title {
        font-size: 34px;
    }
}

@media (max-width: 480px) {
    .container-filter__filter p {
        font-size: 12px;
    }

    .content-shop__search input {
        padding: 5px;
        font-size: 11px;
        width: 120px;
    }

    .content-shop__search i {
        margin-left: 8px;
        font-size: 11px;
    }

    .container-filter__button {
        font-size: 11px;
    }

    .container-filter__button-clean {
        font-size: 11px;
    }

    .container-filter__button-clean i {
        font-size: 11px;
    }

    .content-shop__product_prod-title {
        font-size: 18px;
    }

    .content-shop__inform p {
        font-size: 11px;
    }
}

@media (max-width: 400px) {
    .content-shop__product-container {
        padding: 20px 20px;
    }

    .container-filter {
        padding: 10px;
    }

    .container-filter__link-chain {
        font-size: 10px;
    }

    .container-filter__title {
        font-size: 30px;
    }

    .content-shop__product_prod-title {
        font-size: 16px;
    }
    .content-shop__product p {
        font-size: 12px;
    }

    .container-filter__filter p {
        font-size: 12px;
    }

    .content-shop__search {
        padding: 15px 20px;
    }

    .content-shop__search input {
        font-size: 10px;
        width: 180px;
        margin-left: 100px;
        margin-right: 0;
    }

    .content-shop__search button {
        font-size: 10px;
    }

    .content-shop__search i {
        margin-left: 10px;
        font-size: 12px;
    }

    .container-filter__button {
        padding: 5px;
        font-size: 10px;
    }

    .container-filter__filters {
        gap: 5px;
    }

    .container-filter__button-clean {
        padding: 5px;
        font-size: 10px;
    }

    .container-filter__button-clean i {
        font-size: 10px;
        margin-left: 10px;
    }

    .content-shop__search div:last-child {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 5px;
    }
    .content-shop__hr_margin {
        margin: 0 25px;
    }
    .content-shop__inform {
        padding: 0 25px;
    }
    .content-shop__inform p {
        font-size: 10px;
    }
}